@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
  :root {
    --base-1: 168.00000000000006 71.42857142857154% 98.62745098039215%;
    --base-2: 166.6666666666667 52.941176470588225% 96.66666666666666%;
    --base-3: 165 70.00000000000001% 92.15686274509804%;
    --base-4: 164.99999999999997 66.66666666666671% 87.05882352941177%;
    --base-5: 165.26315789473685 60.00000000000002% 81.37254901960785%;
    --base-6: 165.88235294117646 52.3076923076923% 74.50980392156863%;
    --base-7: 166.66666666666666 45.76271186440678% 65.29411764705883%;
    --base-8: 168.10810810810813 44.93927125506073% 51.56862745098039%;
    --base-9: 166.8 70.42253521126757% 72.15686274509804%;
    --base-10: 167.27272727272725 61.49068322981367% 68.43137254901961%;
    --base-11: 169.83050847457628 96.72131147540985% 23.921568627450977%;
    --base-12: 170.66666666666666 50.56179775280899% 17.45098039215686%;
    --accent-1: 160.00000000000017 60.00000000000023% 99.01960784313727%;
    --accent-2: 145.7142857142857 46.66666666666658% 97.05882352941177%;
    --accent-3: 144.7058823529412 51.51515151515156% 93.52941176470588%;
    --accent-4: 148.88888888888886 49.090909090909065% 89.21568627450979%;
    --accent-5: 151.57894736842107 46.34146341463413% 83.92156862745097%;
    --accent-6: 153.59999999999997 43.103448275862064% 77.25490196078432%;
    --accent-7: 158.50746268656715 40.60606060606061% 67.64705882352942%;
    --accent-8: 163.8 42.01680672268907% 53.333333333333336%;
    --accent-9: 164.26229508196718 59.80392156862745% 40%;
    --accent-10: 164.34782608695653 60.209424083769626% 37.450980392156865%;
    --accent-11: 163.63636363636365 60.7361963190184% 31.960784313725487%;
    --accent-12: 160.00000000000003 34.09090909090909% 17.254901960784313%;
    --background: 168.00000000000006 71.42857142857154% 98.62745098039215%;
    --foreground: 170.66666666666666 50.56179775280899% 17.45098039215686%;
    --card: 166.6666666666667 52.941176470588225% 96.66666666666666%;
    --card-foreground: 170.66666666666666 50.56179775280899% 17.45098039215686%;
    --popover: 168.00000000000006 71.42857142857154% 98.62745098039215%;
    --popover-foreground: 170.66666666666666 50.56179775280899% 17.45098039215686%;
    --primary: 164.34782608695653 60.209424083769626% 37.450980392156865%;
    --primary-foreground: 0 0% 100%;
    --secondary: 166.6666666666667 52.941176470588225% 96.66666666666666%;
    --secondary-foreground: 169.83050847457628 96.72131147540985% 23.921568627450977%;
    --muted: 166.6666666666667 52.941176470588225% 96.66666666666666%;
    --muted-foreground: 169.83050847457628 96.72131147540985% 23.921568627450977%;
    --accent: 164.34782608695653 60.209424083769626% 37.450980392156865%;
    --accent-foreground: 0 0% 100%;
    --destructive: 172.8169014084507 84.52380952380952% 32.94117647058823%;
    --destructive-foreground: 173.75 64.86486486486486% 14.50980392156863%;
    --border: 165.88235294117646 52.3076923076923% 74.50980392156863%;
    --input: 165.88235294117646 52.3076923076923% 74.50980392156863%;
    --ring: 165.88235294117646 52.3076923076923% 74.50980392156863%;
    --radius: 0.5rem;
}
  .dark {
    --base-1: 180 20% 6.862745098039216%;
    --base-2: 180 28.57142857142857% 8.235294117647058%;
    --base-3: 178.28571428571428 66.03773584905662% 10.392156862745097%;
    --base-4: 177.93103448275863 100% 11.372549019607844%;
    --base-5: 177.46478873239437 100% 13.92156862745098%;
    --base-6: 174.85714285714286 68.62745098039215% 20%;
    --base-7: 172.7027027027027 55.22388059701492% 26.27450980392157%;
    --base-8: 169.77272727272728 53.012048192771076% 32.549019607843135%;
    --base-9: 166.8 70.42253521126757% 72.15686274509804%;
    --base-10: 167.53246753246754 79.38144329896912% 80.98039215686275%;
    --base-11: 167.04 59.808612440191396% 59.01960784313726%;
    --base-12: 155.51020408163262 71.01449275362323% 86.47058823529412%;
    --accent-1: 157.5 23.52941176470588% 6.666666666666667%;
    --accent-2: 156 21.73913043478261% 9.019607843137255%;
    --accent-3: 156.7741935483871 50.81967213114754% 11.960784313725489%;
    --accent-4: 161.25 68.57142857142856% 13.725490196078432%;
    --accent-5: 161.45454545454547 61.79775280898877% 17.45098039215686%;
    --accent-6: 161.99999999999997 52.63157894736842% 22.35294117647059%;
    --accent-7: 162.3529411764706 48.57142857142856% 27.450980392156865%;
    --accent-8: 164.28571428571428 50.000000000000014% 32.94117647058823%;
    --accent-9: 164.26229508196718 59.80392156862745% 40%;
    --accent-10: 163.79562043795622 63.72093023255814% 42.15686274509804%;
    --accent-11: 163.13513513513516 74.89878542510121% 48.431372549019606%;
    --accent-12: 154.92537313432837 69.07216494845359% 80.98039215686275%;
    --background: 180 20% 6.862745098039216%;
    --foreground: 155.51020408163262 71.01449275362323% 86.47058823529412%;
    --card: 180 28.57142857142857% 8.235294117647058%;
    --card-foreground: 155.51020408163262 71.01449275362323% 86.47058823529412%;
    --popover: 180 20% 6.862745098039216%;
    --popover-foreground: 155.51020408163262 71.01449275362323% 86.47058823529412%;
    --primary: 163.79562043795622 63.72093023255814% 42.15686274509804%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 28.57142857142857% 8.235294117647058%;
    --secondary-foreground: 167.04 59.808612440191396% 59.01960784313726%;
    --muted: 180 28.57142857142857% 8.235294117647058%;
    --muted-foreground: 167.04 59.808612440191396% 59.01960784313726%;
    --accent: 163.79562043795622 63.72093023255814% 42.15686274509804%;
    --accent-foreground: 0 0% 100%;
    --destructive: 172.36363636363637 85.4922279792746% 37.84313725490196%;
    --destructive-foreground: 162.9850746268657 69.07216494845359% 80.98039215686275%;
    --border: 174.85714285714286 68.62745098039215% 20%;
    --input: 174.85714285714286 68.62745098039215% 20%;
    --ring: 174.85714285714286 68.62745098039215% 20%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
